body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f2f2;
}

/* Barra superior */
.navbar{
    background:#d8c9a8;
    padding:15px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar input{
    padding:8px;
    border:1px solid #b79b63;
    background:#efe6d1;
    outline:none;
    width:150px;
}

.navbar button{
    padding:8px 15px;
    background:#b8860b;
    color:white;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

.navbar button:hover{
    background:#a57405;
}

/* Contenedor principal */
.main{
    display:flex;
    justify-content:center;
    align-items:center;
    height:85vh;
}

.card{
    background:white;
    border:2px solid #d8c9a8;
    border-radius:30px;
    padding:40px;
    text-align:center;
    width:350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img{
    width:150px;
    margin-bottom:20px;
}

.card h1{
    color:#b8860b;
    font-weight:normal;
    font-size:32px;
    margin:0;
}